<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/unsplash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="../public/unsplash.svg" type="image/x-icon">
    <title>ImageGallery</title>
</head>
<body>
    <div class="--input">

       <form action="/apiroutes" method="post">
        <i class="fa-solid fa-magnifying-glass --search-icon"></i> 
            <input type="text" class="--text-input" name="text" placeholder="Search...">
            <input type="submit" class="--submit-btn" value="SEARCH">
       </form>
    </div> 
    <div class="--image-container">
        <% data.forEach(datas => {%>
            <img class="--unsplash-img" src=<%= datas.urls.regular %> alt="">

      <%  }); %>

    </div>  
</body>
</html>